<!DOCTYPE html>
<html lang="en"> 
  {% include "layouts/_xhtml_header.html" %}

  <body class="home"> 

  {% include "layouts/_navbar.html" %}

	<div id="body"> 
	  
      <div class="container">

         <div class="hero-unit">
           <table>
             <tr>
               <th>name</th>
               <th># recordings</th>
             </tr>
             {% for project in projects %}
             <tr>
               <td><a href="projects/show/{{ project.id }}">{{ project.name }}</a></td>
               <td>{{ project.recording_set.count }}</td>
             </tr>
             {% endfor %}
           </table>           
         </div>
          
        </div>

	    {% include "layouts/_footer.html" %}
	  </div> 

  </body> 
</html>
