<!DOCTYPE html>
<html>
  <head>
    <title>Openmir</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/www/css/lib/bootstrap.css" rel="stylesheet" media="screen">

  </head>

  <body>

    <div class="container">

      <div class="hero-unit">

        <p>
          We want to make our games better and to do this, we need
          your feedback.  After playing the games, we would love
          it if you would answer a short user survey and tell us
          about your experiences with our game.  This short survey
          will ask you to rate different aspects of the game on a
          5 point scale and is completely voluntary.
        </p>

        <p>The purpose of this research project is to design mobile and
          web based interfaces and casual games to engage citizen
          scientists to listen to, see, and interact with the
          vocalizations of orcas (killer whales), birdsong and partially
          annotated chants.  We will attempt to design these casual
          mini-games so that they are engaging and fun for our
          participants.  The data collected from these games will be
          used to help train machine learning and machine hearing
          systems to help us to classify these vocalizations. </p>


        <p><a href="/survey">Take the User Survey</a></p>

        <p><h2><a href="/games/next">Skip the survey, keep playing the game!</a></h2></p>

	  </div> 

  </body> 
</html>
