<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>orcagame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/www/css/lib/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/www/css/code/orcasurvey-web.css" rel="stylesheet" type="text/css" />

    <script src="/www/js/lib/jquery.js"></script>
    <script src="/www/js/lib/underscore.js"></script>
    <script src="/www/js/lib/backbone.js"></script>
    <script src="/www/js/lib/jecookie.js"></script>

    <script type="text/javascript" src="/www/js/code/survey-questions.js"></script>
    <script type="text/javascript" src="/www/js/code/orcasurvey.js"></script>

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body class="main">

    {% csrf_token %}

    <div id="survey">
      survey
    </div>
    
    <div id="info">
    </div>
    
    <div class="submit">
      <button id="submit">Submit</button>
    </div>
      
    <div id="donesurvey">
      <p>
        Thank you!
      </p>
      <p>
        <a href="/games/next">Please click here to play again</a>
      </p>
    </div>
  </body>

  <!-- Templates -->
  
  <script type="text/template" id="question_template">
    <div class="choices">
      <% for (var i = 0; i < choices.length; i++) { %>
      <button class="<%= choices[i] %>"><%= choices[i] %></button>
      <% } %>
    </div>

    <p>
      <%= question %>
    </p>
  </script>


</html>
