{% extends "layouts/base.html" %}

{% block header %}
<script src="/www/js/lib/jquery.js"></script>
<script src="/www/js/lib/jquery.dataTables.js"></script>
<script src="/www/js/lib/jquery.ba-throttle-debounce.js"></script>
<script src="/www/js/lib/underscore.js"></script>
<script src="/www/js/lib/backbone.js"></script>
<script src="/www/js/lib/raphael.js"></script>

<script src="/www/js/lib/d3.v3.js"></script>
<script src="/www/js/lib/rickshaw.min.js"></script>

<script src="/www/js/code/openmir/utils/ajaxCSRF.js"></script>
<script src="/www/js/code/openmir/plugins/recordingPlugin.js"></script>
<script src="/www/js/code/openmir/apps/recordingApp.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">

  <h1>User Preferences</h1>
</div>

{% endblock %}
