<div data-role="page" id="orcamatch_about"> 
  
  <div data-role="header" data-position="inline">
    <a href="/main/menu" rel="external" data-icon="home">Home</a>
	<h1>Openmir Matching Game</h1> 
    <a href="/orcamatch" rel="external" data-icon="forward">Play Game</a>
  </div>
  
  <div class="about">
    <div class="play">
      <a href="/orcamatch" rel="external">Play game</a>
    </div>
    <div class="info">
      <p>
        In this game you will be asked to label an unknown clip of
        audio from the Openmir with a call from the Orcalab call
        catalog.  The picture at the top is a button with a
        spectrogram image of the clip to match.  Click it to play
        the sound.  The buttons at the bottom are sounds from the
        Orcalab call catalog, you can click them to hear the sounds
        associated with them.  The clips at the top of the screen
        have either been labelled by a scientist, or by a machine
        learning program that guessed which call it thought matched
        it best.
      </p>
      <p>
        The aim of the game is to find the best matching sound for
        the clip at the top of the screen.  When you've found a
        sound that, according to you, best matches it, click on the
        "Guess" button at the bottom of the screen.  If you've
        labelled it the same as the scientist, you'll score a point.
        If not, don't be too concerned, it's possible that the
        scientist or the machine learning system just classified it
        incorrectly, and your guess will help the Openmir to learn
        and become better.
      </p>
      <p>
        The classifications that you make are very valuable to our
        research, this is a task that is very hard for computers to
        do on their own, but with your labels, we can train the
        computer to eventually automatically find the orca calls in
        the vast archive of sound files we have in the Openmir.
      </p>
      <img src="/assets/images/about/orcamatch.png">
    </div>
  </div>
</div>
