<!DOCTYPE html>
<html lang="en"> 
  {% include "layouts/_xhtml_header.html" %}

  <body class="home"> 

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Orca Talk</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="orcagame">Orca Talk</a></li>
              <li><a href="orcamatchobvAbout">Orca/Background</a></li>
              <li><a href="orcamatchAbout">Orca Match</a></li>
              <li><a href="about">About</a></li>
              <li class="active"><a href="contact">Contact</a></li>
            </ul>

          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>

	<div id="body"> 
	  
      <div class="container">

        <div class="hero-unit">
          <h1>Contact</h1>
          <div class="mainOrcaImageRight">
            <img src="assets/images/orca/orca_breaching.jpg" width="300px">
          </div>
          <p>
            We would love to hear from you, both with your feedback
            about the games on this website and if you would would
            like to help us in our efforts to learn more about this
            unique population of orcas and their language.  Please
            feel free to email us
            at <a href="mailto:sness@sness.net">sness@sness.net</a>.
            We would love it if you would fill out a brief user survey
            by clicking on the link below.
          </p>
          <br />
          <p><a href="survey" class="btn btn-primary btn-large">User Survey &raquo;</a>
          <br />
          <br />
          <br />
          <br />

        </div>


	    {% include "layouts/_footer.html" %}
	  </div> 

  </body> 
</html>
