<!DOCTYPE html>
<html lang="en"> 
  {% include "layouts/_xhtml_header.html" %}

  <body class="home"> 

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Orca Talk</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="orcagame">Orca Talk</a></li>
              <li><a href="orcamatchobvAbout">Orca/Background</a></li>
              <li><a href="orcamatchAbout">Orca Match</a></li>
              <li class="active"><a href="about">About</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>

          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>

	<div id="body"> 
	  
      <div class="container">

        <div class="hero-unit">
          <h1>About</h1>
          <div class="mainOrcaImageRight">
            <img src="assets/images/orca-flipping.jpg">
          </div>
          <p>
            
	        <h3>Orcas</h3>
	        
	      <p>
	        The fish eating killer whales or orcas, Orcinus Orca, that are the
	        focus of this project live in the coastal waters of the northeastern
	        Pacific Ocean.  They live in the most stable groups documented among
	        mammals, and communicate using a variety of vocalizations including
	        echolocation clicks, tonal whistles, and pulsed calls (Ford et al.,
	        2000).
	      </p>
	      
	      <h3>Our Local Orca Community</h3>
	      
	      <p>
	        The Northern Resident Community consists of more than 200 individually known
	        orcas in three acoustic clans. It is regularly found in the study area of
	        the Johnstone Strait and the adjacent waters off Vancouver Island, British
	        Columbia, from July to October.
	      </p>
	      
          <h3>Recording the Orca Songs</h3>

          <p>
            The goal of the Openmir project is to digitize acoustic data that have
            been collected over a period of 36 years. The acoustic data have been
            recorded using a variety of analog media at the research station
            <a href="http://www.orcalab.org">OrcaLab</a>, located on Hanson
            Island which is located centrally in the study area.</p>
          
          <h3>People</h3>

          <h4>Paul Spong and Helena Symonds</h4>

          <div class="mainOrcaImageRight">
            <img src="assets/images/people/paul_and_helena.jpg">
          </div>

          
	      <p>
		    Dr. Paul Spong and Helena Symonds are the directors of
		    OrcaLab, a land based whale research station on Hanson
		    Island in British
		    Columbia <a href="http://www.orcalab.org">OrcaLab</a>.
		    Their work focuses on the long-term life history of the
		    'northern resident community' of British Columbia orcas
		    and on the protection of orca habitat.  They are also
		    involved in the development of technology that connects
		    people to the natural world via the Internet
		    (www.orca-live.net).  Orca acoustics are a core aspect of
		    OrcaLab's research.
	      </p>

          <div class="mainOrcaImageLeft">
            <img src="assets/images/people/sness.jpg">
          </div>

          <h4>Steven Ness</h4>

          <p>
            Steven Ness is a scientist and computer programmer. He
            received his B.Sc. in Biochemistry at the University of
            Alberta, and is now pursuing his Ph.D. in Computer Science
            with Dr. George Tzanetakis at the University of Victoria
            in Canada. His research focuses on Music, Machine
            Learning, User-Interface design and Bio-acoustics.  Steven
            wrote all the code that makes up this website, so if you
            encounter any problems, please let me know.
          </p>

          <h3>Accessing and Retrieving the Recordings</h3>

          <p>
            Currently we have approximately 20000 hours of analog recordings mostly in
            high quality audio cassettes. In addition to the digitization effort which
            is underway we are developing algorithms and software tools to facilitate
            access and retrieval to this large audio collection.
          </p>


          <p>
            The size of this collection makes access and retrieval especially
            challenging (for example it would take approximately 2.2 years of continuous
            listening to cover the entire archive). Therefore the developed algorithms
            and tools are essential for effective long term studies employing acoustic
            techniques.
          </p>

          <h3>Providing Us with Feedback</h3>
          <p>
            This project is just beginning but we believe it provides many opportunities
            and challenges related to large scale semantic access in a non-typical
            application scenario. We invite other researchers in information access and
            retrieval to provide feedback to us regarding this project.  Please email us
            at <a href="mailto:sness@sness.net">sness@sness.net</a>.
          </p>

          <h3>Looking Forward</h3>
          <p>
            Finally, we hope that in the future researchers from around the world will
            be able to access this repository and use the tools to improve understanding
            of acoustic communication of orcas. The people involved in the project are
            all volunteers and the software developed is open source.
          </p>

          <p>
            We welcome help and contributions from any interested parties.
          </p>

          </p>
        </div>


	    {% include "layouts/_footer.html" %}
	  </div> 

  </body> 
</html>
