{% extends "layouts/base.html" %}

{% block header %}
<link href="/www/css/code/gameDataViewer.css" rel="stylesheet" media="screen">

<script src="/www/js/lib/jquery.js"></script>
<script src="/www/js/lib/jquery.dataTables.js"></script>
<script src="/www/js/lib/jquery.ba-throttle-debounce.js"></script>
<script src="/www/js/lib/underscore.js"></script>
<script src="/www/js/lib/backbone.js"></script>
<script src="/www/js/lib/raphael.js"></script>
<script src="/www/js/lib/d3.v3.js"></script>

<script src="/www/js/code/openmir/apps/gameDataViewerApp.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">

<div id="chart"></div>


{% endblock %}
