<!DOCTYPE html>
<html>
  <head>
    <title>Openmir</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/www/css/lib/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/www/css/code/{{ site }}game.css" rel="stylesheet" type="text/css" />

    <script src="/www/js/lib/jquery.js"></script>
    <script src="/www/js/lib/underscore.js"></script>
    <script src="/www/js/lib/backbone.js"></script>
    <script src="/www/js/lib/jecookie.js"></script>
    <script src="/www/js/lib/soundmanager2/soundmanager2-nodebug-jsmin.js"></script>

    <script src="/www/js/code/openmir/utils/ajaxCSRF.js"></script>
    <script src="/www/js/code/openmir/apps/gameApp.js"></script>

  </head>

  <body>

    {% csrf_token %}

    <div class="container">

      <div id="nameContainer">
      </div>
      
      <div id="mainContainer" class="screenContainer">
      </div>

      <div id="gameContainer" class="screenContainer">
        <div id="levelQueryContainer">
        </div>
        <div id="levelReferenceContainer">
        </div>

      </div>

      <div id="helpContainer" class="screenContainer">
      </div>

      <div id="doneContainer" class="screenContainer">
      </div>

      <script type="text/template" id="currentReferenceUndefinedTemplate">
        <div id="currentReferenceUndefined" class="gameInfo">
          <div class="tryAgainButton"></div>
        </div>
      </script>
      
    </div>

    <script type="text/javascript">
      window.gameId = {{ game.id|safe }};
      window.levelsJson = {{ levelsJson|safe }};
    </script>

    <!-- templates -->

    <script type="text/template" id="mainTemplate">
      <div id="mainPlayButton" class="pressButton">
      </div>
      <div id="hrebInfo">
        <h2>Letter of Information for Implied Consent</h2>

        <h3>Citizen science with serious casual games : Three audio case studies</h3>

        <div class="letterhead">
          <p>Department of Computer Science </p>
          <p>Engineering/ Computer Science Building (ECS) </p>
          <p>        Room 504  </p>
          <p>University of Victoria </p>
          <p>Telephone: (250) 472-5700 </p>
          <p>Fax: (250) 472-5708</p>
        </div>

        <p>You are invited to participate in a study entitled "Citizen
          science with serious casual games : Three audio case studies"
          that is being conducted by Steven Ness and George
          Tzanetakis.</p>

        <p>Steven Ness is a Ph.D. student in the department of Computer
          Science at the University of Victoria and you may contact him
          if you have further questions by emailing sness@uvic.ca</p>

        <p>George Tzanetakis is a Faculty member in the department of
          Computer Science at the University of Victoria and you may
          contact him if you have further questions by emailing
          gtzan@cs.uvic.ca.</p>

        <p>As a graduate student, I am required to conduct research as
          part of the requirements for a Ph.D. in Computer Science. It
          is being conducted under the supervision of George
          Tzanetakis. You may contact my supervisor at 250-472-5710.</p>

        <h4>Purpose and Objectives</h4>


        <p>The purpose of this research project is to design mobile and
          web based interfaces and casual games to engage citizen
          scientists to listen to, see, and interact with the
          vocalizations of orcas (killer whales), birdsong and partially
          annotated chants.  We will attempt to design these casual
          mini-games so that they are engaging and fun for our
          participants.  The data collected from these games will be
          used to help train machine learning and machine hearing
          systems to help us to classify these vocalizations. </p>

        <h4>Importance of this Research</h4>

        <p>Research of this type is important because we want to
          investigate ways to make interfaces for citizen scientists
          more engaging and interesting.  By doing this, we hope to
          increase the amount of time and data that citizen scientists
          provide to such projects.  Another main contribution is to use
          these annotations to help researchers and scientists to study
          difficult problems in bioacoustics, primarily scientists
          studying orcas and birdsong.</p>

        <h4>Participants Selection</h4>

        <p>You are being asked to participate in this study because you
          are interested in listening to the sounds of birds, whales
          and/or partially annotated chants, and have some basic
          knowledge of computers.</p>

        <h4>What is involved</h4>

        <p>If you agree to voluntarily participate in this research,
          your participation will include answering a pre-test survey,
          interacting with our web-based or tablet based game and
          answering a post-test survey.</p>

        <h4>Inconvenience</h4>

        <p>Participation in this study may cause some inconvenience to
          you, including taking approximately 30 minutes of your time to
          complete the survey.</p>

        <h4>Risks</h4>

        <p>There are no known or anticipated risks to you by
          participating in this research.</p>

        <h4>Benefits</h4>

        <p>The potential benefits of your participation in this research
          is that you will potentially learn some of the vocalizations
          of orcas, birds and partially annotated chants.  This will
          hopefully be interesting and rewarding for them in itself.
          They will also get to play a game that is designed to be
          entertaining.  The data collected from the participants will
          be used to help us to train machine learning and machine
          hearing classifier systems with the eventual goal of
          automatically segmenting and classifying these
          vocalizations.</p>

        <h4>Voluntary Participation</h4>

        <p>Your participation in this research must be completely
          voluntary. If you do decide to participate, you may withdraw
          at any time without any consequences or any explanation. If
          you do withdraw from the study your data will not be used.</p>

        <h4>Researcher's Relationship with Participants</h4>

        <p>
          The researcher may have a relationship to potential
          participants as a teacher or fellow student. To help prevent
          this relationship from influencing your decision to
          participate, the following steps to prevent coercion have been
          taken:
        </p>

        <p>i) In order to minimize inducement, coercion or potential
          harm, we will emphasize to the participants that we wish for
          them to find this an enjoyable experience, and that their
          responses will in no way be used against them outside this
          study.</p>

        <p>ii) At the start of the study, we will make sure to let the
          students know that their responses will be held in confidence,
          and that individual responses will be anonomized prior to
          publication.  We will ensure that the students know that it is
          important to us that they are protected from any judgment by
          the researchers outside the parameters of this study.  </p>

        <h4>Anonymity</h4>

        <p>In terms of protecting your anonymity we will not ask for
          your name, this survey is anonymous.</p>

        <h4>Confidentiality</h4>

        <p>Your confidentiality and the confidentiality of the data will
          be protected by being anonymous.</p>

        <h4>Dissemination of Results</h4>

        <p>It is anticipated that the results of this study will be
          shared with others in the following ways, in published
          articles, in a thesis, on a website, and in presentations at
          scholarly meetings.</p>

        <h4>Disposal of Data</h4>

        <p>Data from this study will be disposed of by securely deleting
          it from the servers.
        </p>


        <h4>Contacts</h4>

        <p>Individuals that may be contacted regarding this study
          include Steven Ness (sness@uvic.ca) and George Tzanetakis
          (gtzan@cs.uvic.ca)</p>
        
        <p>In addition, you may verify the ethical approval of this
          study, or raise any concerns you might have, by contacting the
          Human Research Ethics Office at the University of Victoria
          (250-472-4545 or ethics@uvic.ca).</p>

        <p>By completing and submitting the questionnaire, YOUR FREE AND
          INFORMED CONSENT IS IMPLIED and indicates that you understand
          the above conditions of participation in this study and that
          you have had the opportunity to have your questions answered
          by the researchers.</p>

        <p>Please print and retain a copy of this letter for your
          reference.</p>
      
      </div>
    </script>

    <script type="text/template" id="doneTemplate">
      <div id="doneNextButton" class="pressButton">
      </div>
    </script>

    <script type="text/template" id="gameTemplate">
    </script>

    <script type="text/template" id="levelQueryClipTemplate">
      <div class="levelQuery call">
          <div class="image">
            <img src="/visualizations/spectrogram/<%= recording %>?startSec=<%= startSec %>&endSec=<%= endSec %>&height=253&width=253&highHz=8000">
          </div>
        </div>
    </script>

    <script type="text/template" id="levelReferenceClipTemplate">
      <div class="levelReference call">
        <div class="image">
          <img class ="levelReference" src="/visualizations/spectrogram/<%= recording %>?startSec=<%= startSec %>&endSec=<%= endSec %>&height=203&width=203&highHz=8000">
          <h2><%= name %></h2>
        </div>
      </div>
    </script>

    <script type="text/template" id="guessButtonTemplate">
      <div id="guessButton" class="pressButton">
      </div>
    </script>

    <script type="text/template" id="currentReferenceUndefinedTemplate">
      <div id="currentReferenceUndefined" class="gameInfo">
        <div class="tryAgainButton"></div>
      </div>
    </script>

    <script type="text/template" id="guessMatched">
      <div id="guessMatched" class="gameInfo">
        <div class="guessMatchedNextButton"></div>
      </div>
    </script>
    
    <script type="text/template" id="guessDidntMatch">
      <div id="guessDidntMatch" class="gameInfo">
        <div class="guessDidntMatchNextButton"></div>
      </div>
    </script>

    <script type="text/template" id="helpTemplate">
      <div id="helpContainer" class="screenContainer">
        <div id="helpScreen<%= screen %>" class="helpScreenImage">
        </div>
        <div id="helpNextButton" class="pressButton">
        </div>
      </div>
    </script>

  </body>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40462376-1']);
    _gaq.push(['_setDomainName', 'openmir.net']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); 
      ga.type = 'text/javascript'; 
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; 
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</html>

