{% extends "layouts/base.html" %}

{% block content %}

<div class="container">
  
  <div class="hero-unit">
    <h1>About</h1>
    <div class="infoImage">
      <img src="/www/assets/images/orchive/orca-flipping.jpg">
    </div>
    <h3>Recording the Orca Songs</h3>
    
    <p>
      The goal of the Orchive project is to digitize acoustic data that have
      been collected over a period of 36 years. The acoustic data have been
      recorded using a variety of analog media at the research station
      <a href="http://www.orcalab.org">OrcaLab</a>, located on Hanson
      Island which is located centrally in the study area.</p>
    
    <h3>Accessing and Retrieving the Recordings</h3>
    
    <p>
      Currently we have approximately 20000 hours of analog recordings mostly in
      high quality audio cassettes. In addition to the digitization effort which
      is underway we are developing algorithms and software tools to facilitate
      access and retrieval to this large audio collection.
    </p>
    
    
    <p>
      The size of this collection makes access and retrieval especially
      challenging (for example it would take approximately 2.2 years of continuous
      listening to cover the entire archive). Therefore the developed algorithms
      and tools are essential for effective long term studies employing acoustic
      techniques.
    </p>
    
    <h3>Providing Us with Feedback</h3>
    <p>
      This project is just beginning but we believe it provides many opportunities
      and challenges related to large scale semantic access in a non-typical
      application scenario. We invite other researchers in information access and
      retrieval to provide feedback to us regarding this project. 
    </p>
    
    <h3>Looking Forward</h3>
    <p>
      Finally, we hope that in the future researchers from around the world will
      be able to access this repository and use the tools to improve understanding
      of acoustic communication of orcas. The people involved in the project are
      all volunteers and the software developed is open source.
    </p>
    
    <p>
      We welcome help and contributions from any interested parties.
    </p>
    
  </div>
</div>
{% endblock  %}
