{% extends "layouts/base.html" %}

{% block content %}

<div class="container">
  <div class="hero-unit">
    <div class="infoImage">
    <img src="/www/assets/images/orchive/orca-tail-flip.jpg">
  </div>
  <h1>Orchive</h1>
  
  <p>
    Learn about the <a href="/main/about">about</a> and its goal
    of taking 20,000 hours of tape recordings of orca
    vocalizations and making them digital.
  </p>
  
  <p>
    Explore and listen to
    our <a href="/recordings/public/1">archive</a>.  Or have a
    quick listen to a sample orca <a href="/main/tour">tour</a>
    and try out some of the tools we are developing.
  </p>
  
  <p>
    Read about <a href="http://www.orcalab.org">OrcaLab</a> and
    how they record the orcas moving through Johnstone Straight.
  </p>
  
  <p>
    Meet the <a href="/main/people">folks</a> who make Orcalab
    and the Orchive a reality.
  </p>
  
</div>

</div>

{% endblock %}

