{% extends "layouts/base.html" %}

{% block content %}

<div class="container">
  
  <div class="hero-unit">


    <h1>People</h1>
    
    <div class="person">
	  <h3>Steven Ness</h3>
      <div class="personImage">
        <a href="http://sness.net"><img src="/www/assets/images/orchive/sness.jpg"></a>
      </div>
	  <p>
		<a href="http://sness.net">Steven Ness</a> is a scientist and computer programmer.  He
		received his B.Sc. in Biochemistry at the University of
		Alberta, and is now pursuing his Ph.D. in Computer Science
		with Dr. George Tzanetakis at the University of Victoria in
		Canada.  His research focuses on Music, Machine Learning,
		User-Interface design and Bio-acoustics.
	  </p>
	  <p>
		Steven wrote all code that makes up the Orchive website, so if
		you encounter any problems, please
		let <a href="mailto:sness@sness.net">me</a> know.
	  </p>
    </div>

    <div class="person">
	  <h3>Paul Spong and Helena Symonds</h3>
      <div class="personImage">
        <img src="/www/assets/images/orchive/paul_and_helena.jpg">
      </div>

	  <p>
		Dr. Paul Spong and Helena Symonds are the directors of OrcaLab, a land based whale research station on Hanson Island in British Columbia (www.orcalab.org).  Their work focuses on the long-term life history of the 'northern resident community' of British Columbia orcas and on the protection of orca habitat.  They are also involved in the development of technology that connects people to the natural world via the Internet (www.orca-live.net).  Orca acoustics are a core aspect of OrcaLab's research.
	  </p>
      </div>

    <div class="person">

	  <h3>George Tzanetakis</h3>

      <div class="personImage">
        <img src="/www/assets/images/orchive/tzanetakis.jpg">
      </div>

	  <p>

Dr. George Tzanetakis is an assistant professor in Computer Science (also cross-listed in Music and Electrical and Computer Engineering) at the University of Victoria in Canada.  He received my PhD in Computer Science from Princeton University under the supervision of Dr. Perry Cook.  He also worked at Carnegie Mellon University as a PostDoctoral Fellow with Dr. Roger Dannenberg on query-by-humming systems and audio-score alignment and with the Informedia group on multimodal video retrieval and microphone arrays. </p>

<p>His research deals with all stages of audio content analysis such as feature extraction, segmentation, classification, retrieval and source separation with specific focus on Music Information Retrieval (MIR). George is also an active musician and have studied saxophone performance, music theory and composition.
	  </p>
    </div>


  </div>
</div>
{% endblock  %}
