{% extends "layouts/base.html" %}

{% block content %}

<div class="container">
  
  <div class="hero-unit">

    <h1>Tour</h1>
    
    <object width="853" height="505"><param name="movie" value="http://www.youtube.com/v/dUTOt5BZedg&hl=en_GB&fs=1&rel=0&color1=0x006699&color2=0x54abd6&hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/dUTOt5BZedg&hl=en_GB&fs=1&rel=0&color1=0x006699&color2=0x54abd6&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="853" height="505"></embed></object>

    <object width="853" height="505"><param name="movie" value="http://www.youtube.com/v/9hrVupAxLd8&hl=en_GB&fs=1&rel=0&color1=0x006699&color2=0x54abd6&hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/9hrVupAxLd8&hl=en_GB&fs=1&rel=0&color1=0x006699&color2=0x54abd6&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="853" height="505"></embed></object>

    <object width="853" height="505"><param name="movie" value="http://www.youtube.com/v/70Ow2TdNwQc&hl=en_GB&fs=1&rel=0&color1=0x006699&color2=0x54abd6&hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/70Ow2TdNwQc&hl=en_GB&fs=1&rel=0&color1=0x006699&color2=0x54abd6&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="853" height="505"></embed></object>    
  </div>
</div>
{% endblock  %}
