<div data-role="page" id="orcamatchobv_about"> 

  <div data-role="header" data-position="inline">
    <a href="#menu" data-icon="home">Home</a>
	<h1>Openmir Orca/Background/Voice Matching Game</h1> 
    <a href="/orcamatchobv" rel="external" data-icon="forward">Play Game</a>
  </div>

  <div class="about">
    <div class="play">
      <a href="/orcamatchobv" rel="external">Play game</a>
    </div>
    <div class="info">
      <p>
        In this game you are asked to label an unknown clip of audio
        from the Openmir with one of the following labels: Background
        or boat noise, Orca, Distant Orca, Voice note, Unknown call or
        Skip.  This is shown below.  When you label a call, it will
        flash briefly, and then you will be shown the next call.  You
        can also navigate backwards and forwards though the interface
        with the arrows at the top right corner.
      </p>
      <p>
        The classifications that you make are very valuable to our
        research, this is a task that is very hard for computers to
        do on their own, but with your labels, we can train the
        computer to eventually automatically find the orca calls in
        the vast archive of sound files we have in the Openmir.
      </p>
      <img src="/assets/images/about/orcamatchobv.png">
    </div>
  </div>
</div>
